body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure it takes the full viewport height */
    overflow: hidden;
    flex-direction: column;
}

canvas {
    display: block;
}

#controls {
    position: absolute;
    top: 80%; /* Adjust the value to move it up or down */
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the div */
    z-index: 100;
    display: flex;
    gap: 10px; /* Spacing between buttons */
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}
